@use '../GlobalStyles/scss/' as *;

$heightVideo: calc(450px + (200vw - 768px) / 1152 * 100);
:export {
    heightVideo: $heightVideo;
}

.wrapper {
    @include flex(unset, flex-end);
    gap: 20px;
    &-height {
        height: calc(450px + (200vw - 768px) / 1152 * 100);

        .video-container {
            height: 100%;

            video {
                height: 100%;
                width: auto;
            }
        }
    }

    &-width {
        width: calc(450px + ((100vw - 768px) / 1152) * 100);

        .video-container {
            width: 100%;

            video {
                width: 100%;
                height: auto;
            }
        }
    }

    .video-container {
        // height: 100%;
        // width: 100%;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            .controls {
                .btn-play {
                    opacity: 1;
                }
                .volume {
                    opacity: 1;
                }
                .duration {
                    opacity: 1;
                }
            }
        }

        video {
            display: block;
            object-fit: cover;
        }

        .controls {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 12px;

            .btn-play {
                width: 40px;
                height: 40px;
                padding: 10px;
                background-color: transparent;
                border: none;
                color: $whiteColor;
                font-size: 2rem;
                opacity: 0;
                transition: all 0.3s ease;
            }

            .volume {
                position: absolute;
                bottom: 26px;
                right: 12px;
            }

            .duration {
                @include flex(unset, center);
                gap: 15px;

                opacity: 0;
                transition: all 0.3s ease;

                .time {
                    color: $whiteColor;
                    font-size: 1rem;
                }
            }
        }
    }

    .action-container {
        @include flex(unset, unset);
        gap: 8px;
        flex-direction: column;

        .btn {
            @include flex(unset, center);
            gap: 6px;
            flex-direction: column;
            border: none;
            background-color: transparent;

            .icon-wrapper {
                width: 48px;
                height: 48px;
                background-color: rgba($color: $darkColor, $alpha: 0.06);
                border-radius: 50%;
                @include flex(center, center);
            }
            .counter {
            }
        }
    }
}
