@use '../../../components/GlobalStyles/scss/' as *;

.simple {
    max-height: calc(100vh - $heightHeader);
    width: $widthSidebar;
    position: fixed;
}
.wrapper {
    width: $widthSidebar;
    padding: 20px 8px;
}

.nav-login-tip {
    color: rgba($color: $darkColor, $alpha: 0.5);
}
.btn-login {
    margin-top: 2rem;
}

.title {
    color: rgba($color: $darkColor, $alpha: 0.75);
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-user-container {
    padding: 1.6rem 0;
    border-top: 1px solid rgba($color: $darkColor, $alpha: 0.12);

    .alllinks {
        .links {
            display: flex;
            flex-wrap: wrap;
            gap: 5px 10px;
            margin-bottom: 8px;

            .link {
                font-size: 1.2rem;
                color: rgba($color: $darkColor, $alpha: 0.5);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .copyright {
        margin-top: 5px;
        font-size: 1.2rem;
        color: rgba($color: $darkColor, $alpha: 0.5);
    }
}

.discover {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .item {
        width: fit-content;
        max-width: 100%;
        border: 1px solid $borderColor;
        border-radius: 9999px;
        padding: 3px 10px;

        a {
            @include flex(center, center);

            .icon {
                flex: none;
            }

            span {
                @include hideText(1);
                padding-left: 6px;
                font-size: 1.4rem;
                color: rgba($color: $darkColor, $alpha: 0.75);
            }
        }
    }
}
